:root {
--primary-color: #EE3880;
--header-color:#f47490;
--white-color:#fff;
--black-color:#000;
--text-color:#333;
--border-color:#dbdbdb;
--color-background:#f5f5f5;
--star-gold-color:#FFCE3E;
--navbar-height:30px;
--header-height:120px;
--width-base: 1350px;
--header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
